/*
 * Control edit images
 */

+prefix-classes('mbi-')
	.edit_images
		border 1px solid rgba(0,0,0,.5)
		background none
		text-transform uppercase
		font-weight 500
		box-shadow none
		border-radius 0
		display inline-block
		line-height 2.7
		height auto
		font-size .95em
		padding 0 .8em

		&:focus
			shadow none

		&:hover
			border 1px solid rgba(0,0,0,.9)

		svg
			width 17px
			height 100%
			margin-left -5px
			margin-right 5px
