/**
 * Controls
 */

+prefix-classes('mbi-')

	#mbi-controls
		margin -16px
		padding 16px 16px 0
		position relative

		.no-active
			opacity .3
			pointer-events none

		&:before
			content ""
			position absolute
			background-color rgba(0,0,0,0.1)
			width 100%
			height 1px
			top 16px
			left 0

		.control-container
			position relative
			padding 25px 0
			width 100%
			margin 0
			color rgba(0,0,0,0.87)

			+ .control-container
				border-top 1px solid rgba(0,0,0,0.1)

			.control + .control
				margin-top 30px

#mbi-controls

	.components-base-control__label
		font-weight 600
		margin-bottom 1.5em

	.components-base-control__help
		font-style normal
		margin 15px 0 0
		opacity 0.8
		white-space pre-wrap

	.components-base-control + .components-base-control
		margin 0

	.mbi-control-range .components-base-control__label
		margin-bottom 1em

	.mbi-control-toggle .components-base-control__label
		margin-bottom 1.5em

	.components-base-control__field
		margin-bottom 0
