/**
 * ControlSliderDot
 */

.mbi-slider_dot_color

	.components-color-palette__custom-color button
		color inherit
		background-color currentColor
		width 28px
		height 28px
		font-size 0
		line-height 0
		border-radius 50%

		&:hover
		&:focus
			color inherit
			background-color currentColor
			box-shadow none
			outline none

	button.components-color-palette__clear
		color inherit
		margin-left auto
		align-self center

	.components-color-palette__custom-clear-wrapper
		justify-content start

	.mbi-color_palette-container.mbi-color_light button
		border 1px solid rgba(0,0,0,0.8)

	.components-base-control__label[for="mbi-slider_dot_color"]
		display flex
		align-items center
